.card{
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card>img{
    width: 60%;
    margin: auto;
   
}
.cardbody{
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}